.DS_Store
.ReAuth.cfg
.curseclient
.mixin.out
Illegal_Clients/
asm/
config/jeresources/world-gen-old*
contenttweaker
crafttweaker.log
crash-reports/
downloads/
journeymap/
journeymapdefaults.firstrun
knownkeys.txt
llibrary/
logs/
mods/memory_repo/
mountains.txt
mountains.txt/
saves/
screenshots/
usercache.json
usernamecache.json
