asm/
config/jeresources/world-gen-old*
crafttweaker.log
crash-reports/
.curseclient
downloads/
.DS_Store
Illegal_Clients/
journeymap/
journeymapdefaults.firstrun
knownkeys.txt
llibrary/
logs/
.mixin.out
mods/memory_repo/
mountains.txt
mountains.txt/
.ReAuth.cfg
saves/
screenshots/
server/
usercache.json
usernamecache.json
config/agricraft/json/server_
