.DS_Store
.ReAuth.cfg
.curseclient
.mixin.out
Illegal_Clients/
asm/
config/agricraft/json/server_
config/jeresources/world-gen-old*
crafttweaker.log
crash-reports/
downloads/
dumps/
dynmap/*.pending
dynmap/colorschemes/
dynmap/web/
journeymap/
journeymapdefaults.firstrun
knownkeys.txt
llibrary/
logs/
mods/memory_repo/
mountains.txt
mountains.txt/
saves/
screenshots/
server/
usercache.json
usernamecache.json
~*
